header {
    background-image: url(../images/Paulina-Escritora.png);
    margin-bottom: 2rem;
}


main {
    padding: 1rem 1rem 0;
    letter-spacing: 1.2px;
}

section p {
    text-align: justify;
    width: 60%;
    margin: auto;
}

section ul {
    text-align: justify;
    width: 40%;
    margin: auto;
}

section h2,h3{
    margin: 10px auto;
    text-align: center;
}

h2 {
    margin-top: 1.5rem;
}

.content-image {
    padding-top: 1rem;
    text-align: center;
}

.temas {
    margin-top: 0.5rem;
    padding-left: 3rem;
}