.container {
    margin: 2rem auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.name-card,
.form-card {
    width: 80%;
}

.card {
    background: #ffffff;
    border-radius: 0.675rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 4px 8px #7c7878;
    transition: 0.3s ease;
    text-align: center;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px #636060;
}

.card h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: #222;
    letter-spacing: 2px;
}

.card p,
.card a {
    font-size: 1rem;
    text-decoration: none;
}


.social-card img {
    width: 45px;
    height: 45px;
    margin: 0 10px;
    transition: transform 0.2s ease-in-out;
}

.social-card img:hover {
    transform: scale(1.15);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.5rem;
}

input,
textarea {
    width: 100%;
    padding: 0.9rem 1rem;
    border-radius: 0.975rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    background: #f5f5f5;
    transition: 0.25s ease;
}

textarea {
    height: 130px;
    resize: none;
}

button {
    padding: 0.9rem;
    background: #000;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 0.675rem;
    cursor: pointer;
}

button:hover {
    background: #333;
    transform: translateY(-3px);
}

header {
    background: linear-gradient(to right, #007268, #000, #fff, #FCE200, #D30831);
    height: 100px;
    margin-bottom: 3rem;
}