header {
    background-image: url("/images/Paulina-Chiziane2.jpg");
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 3rem;
}

.gallery * {
    width: auto;
    height: 450px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #7c7878;
    transition: transform 0.5s ease-out, box-shadow 0.3s ease;
    object-fit: cover;
    cursor: pointer;
}

.gallery *:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px #636060;
}