header {
    background-image: url(../images/Capas_dos_Romances_de_Paulina_Chiziane.png);
    background-size: 100% 100%;
    margin-bottom: 2rem;
}

main {
    padding: 1rem 1rem 0;
    letter-spacing: 1.2px;
}

h2{
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 25px;
  padding: 20px 0;
  background-color: #edecec;
  border-radius: 1rem;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px #7c7878;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 400px; 
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px #7c7676;
}

.card img {
  width: 100%;
  height: 550px;
  object-fit: fill;
}

.card-description {
  padding: 15px;
  text-align: center;
}

.card-description h4 {
  margin: 0 0 8px;
  font-size: 1.1rem;
  color: #222;
}

.card-description p {
  color: #3a3838c3;
  font-size: 0.9rem;
  line-height: 1.4;
}
