header {
    background-image: url(../images/Capas_dos_Romances_de_Paulina_Chiziane.png);
    background-size: 100% 100%;
    margin-bottom: 2rem;
}

main {
    padding: 1rem 1rem 0;
    letter-spacing: 1.2px;
}

img {
    height: 500px;
    margin-top: 8px;
    vertical-align: middle;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    background-color: gray;
    border: black 2px solid;
}

.card {
    flex: 50%;
    background-color: lightblue;
    border: black 2px solid;
    margin: 1rem;

}