* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: relative;
    padding: 1rem 0px;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    background-image: url(../images/img_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-content {
    max-width: 60%;
    padding: 3rem;
    color: rgb(255, 255, 255, 0.8);
}

.header-content h1,
.header-content h2 {
    font-size: 3rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
}

#content {
    padding: 1rem 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    height: 50vh;
    transition: all 0.5s ease;
    margin-left: 310px;
    border-radius: 0.675rem;
    z-index: 1;
}

#content:hover {
    font-size: larger;
    font-weight: bold;
    transform: scale(1.05);
    background-color: #e4e3e3;
    margin-left: 10px;
    margin-right: 10px;
}

#navigator {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 5px;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.381);
    margin: 1rem;
    border-radius: 0.675rem;
    z-index: 2;
    max-width: 30%;
}

#navigator ul {
    list-style-type: none;
    padding: 0;
}

#navigator p{
    margin-left: 1rem;
}

#toogleSidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-radius: 0.675rem;
    font-weight: bolder;
    font-size: 1em;
    background-color: #00000000;
    border: none;
    width: 100%;
}

#toogleSidebar:hover {
    cursor: pointer;
    background-color: #2e2e2ea3;
}


#navigator li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    padding: 1rem 1rem;
    text-decoration: none;
    font-weight: bolder;
    margin: 1px auto;
    border-radius: 0.675rem;
}

#navigator li a:hover {
    background-color: #2e2e2e;
    color: white;
}


#intro-text {
    margin: 15px auto;
    max-width: 80%;
}

.buttons-container {
    margin: 1rem 0;
    padding: 2rem 0;
    background-color: #2e2e2e;
    justify-content: space-between;
    display: flex;
    color: #000;
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 1.2rem;
    margin: auto 9rem;
}

.button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.primary-button {
    background-color: #ffb300;
    color: #2e2e2e;
}

.secondary-button {
    background-color: #f5f5f5;
    color: #2e2e2e;
}

footer {
    background-color: #ddd;
    display: flex;
    padding: 2rem 0;
    justify-content: space-evenly;
    text-align: center;
}


#socials img {
    width: 2rem;
    margin: auto 15px;
}

.hidden {
    display: none;
}

.collapsed p{
    display: none;
}

.collapsed{
    width: 66px;
}