header {
    background-image: url(/images/timeline_header.png);
    background-size: 100% 100%;
    margin-bottom: 2rem;
}

.timeline {
    position: relative;
    margin: 1rem;
    background-color: #edecec;
    box-shadow:  0 4px 8px #7c7878;
    border-radius: 1rem;
    padding: 2rem 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem 0;
}

.date {
    width: 40%;
    text-align: right;

}

.date-content {
    width: 40%;
    text-align: left;
}

.timeline-dot {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    margin: auto;
    z-index: 2;
}

.vertical-line {
    position: absolute;
    left: 50%;
    top: 0;
    background-image: linear-gradient(#000000 0%, #007268 30%, #D30831 55%, #FCE200 75%, #FFFFFF 100%);
    width: 3px;
    height: 100%;
    transform: translateX(-50%);
    z-index: 1;
}